# Rust
debug/
target/
**/*.rs.bk
*.pdb

# Python
__pycache__

# Idea
.idea/

# Traces
examples/iaas-traces/*.csv
examples/iaas-experiment/*.csv
examples/iaas-experiment/*.json

# Maven
examples-other/vetand_cloudsim_benchmark/target

# MacOS
.DS_Store 

# Flamegraph 
*.svg 

# Python Notebook Checkpoints
.ipynb_checkpoints

# Dag files
dags
archived dags

# Results
benchmark-results
old results
final results
bad results

# Processed results
dytas-benchmark/dytas-comparisons/analysis/data